// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


button.btn.btn-primary.btn-block {
	margin-top: 30px;
    background-color: tomato;
    border: solid 1px tomato;
    border-radius: 50px;
}
